.container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(146, 146, 146);
    /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 100%), url("./bg-code.png");*
    background-size: cover;
    /*background-image: url(./bg-code.png);*/
    z-index: -1;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px;
    color: orange;
}

.img-bg {
    width: 40%;
    margin-top: 2rem;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    transform: rotateX(60deg);
    transform-style: preserve-3d;
}
